@import "./base-vars.css";
@import "./brand-styles.css";


/* -- Special -- */
:root{
    --headerBar-height: 4rem;
    --headerBar-color-link:var(--brand-color-main);
    --upper-headerBar-color: #eee;
    --upper-headerBar-height: calc( var(--headerBar-height) / 3);
    --lower-headerBar-height: var(--headerBar-height);
    --lower-headerBar-color: #dadada;

    --nav-transition-duration: .5s;

    --nav-dropdown-colorBorder: var(--brand-color-main);
    --nav-dropdown-colorBg: var(--brand-color-second);
    
    --dropdown-icon-spanThickness: 4px;
    --dropdown-icon-spanWidth: calc(var(--dropdown-icon-spanThickness) * 5);

    
}
body{
    padding-top: var(--headerBar-height) !important;
}


/* -- General -- */
.headerBar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.upper-headerBar{
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
    background-color: var(--upper-headerBar-color);
    padding: 0 var(--layout-main-spacing);
}
.upper-headerBar > div{
    margin-right: calc( var(--layout-main-spacing) * 2);
}
.upper-headerBar > div i{
    color: var(--headerBar-color-link);
    margin-right: 5px;
}
.lower-headerBar{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: var(--lower-headerBar-height);
    padding: 0 var(--layout-main-spacing);
    background-color: var(--lower-headerBar-color);
}

/* -- Logo -- */
.headerBar-logo-wrapper{
    display: flex;
    align-items: center;
    padding:calc( var(--layout-main-spacing) / 1.5) 0;
    height: var(--lower-headerBar-height);
    /* max-width: calc( 100% - calc( calc( var(--layout-main-spacing) * 2) + var(--lower-headerBar-height) ) ); */
    max-width: 70%;
}
.headerBar-logo-wrapper a{
    display: flex;
    align-items: center;
    height: 100%;

}
.headerBar-logo-wrapper img{
    max-height: 100%;
}

/* -- Nav -- */
.lower-headerBar nav{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
.headerBar-mainNav-wrapper{
    position: absolute;
    top: calc( var(--lower-headerBar-height) + 1rem);
    right: 0;
    left:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 0;
    overflow: hidden;
    font-size: var(--layout-font-size-p);
    border-top: 0 solid var(--nav-dropdown-colorBorder);
    transition: all var(--nav-transition-duration), border 0s;
    background-color: transparent;
}
.lower-headerBar nav.mainNavDropdownActive {
    overflow: visible;
}
.mainNavDropdownActive .headerBar-mainNav-wrapper{
    height: auto;
    height: calc(var(--lower-headerBar-height) * 6);
    top:100%;
    overflow: visible;
    border-top: 4px solid var(--nav-dropdown-colorBorder);
    background-color: var(--lower-headerBar-color);
}
.headerBar-subDropdown-wrapper,
.headerBar-mainNav-wrapper > a,
.headerBar-subDropdown-wrapper > a{
    width: 100%;
    height: var(--lower-headerBar-height);
    display: flex;
    align-items: center;
    padding: 0 var(--layout-main-spacing);
    color: transparent;
}
.mainNavDropdownActive .headerBar-subDropdown-wrapper,
.mainNavDropdownActive .headerBar-mainNav-wrapper>a,
.mainNavDropdownActive .headerBar-subDropdown-wrapper>a {
    color: var(--headerBar-color-link);
}
.headerBar-subDropdown-wrapper>a{
    padding: 0;
}

/* Dropdown Button */
.headerBar-mainDropdown-button{
    position: absolute;
    top: 0;
    right: var(--layout-main-spacing);
    width: var(--lower-headerBar-height);
    height: var(--lower-headerBar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color-main);
    border-radius: 0;
    border-radius: calc(var(--lower-headerBar-height) /3);
    transition:border-radius var(--nav-transition-duration);
    cursor: pointer;
}
.mainNavDropdownActive .headerBar-mainDropdown-button{
    border-radius: 0;
    /* border-radius: calc(var(--lower-headerBar-height) /3); */
}

/* -- Dropdown Icon  -- */
.headerBar-dropdown-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height:var(--dropdown-icon-spanWidth);
    width:var(--dropdown-icon-spanWidth);
}
.headerBar-dropdown-icon span{
    display: block;
    height:var(--dropdown-icon-spanThickness);
    width: var(--dropdown-icon-spanWidth);
    border-radius: calc( var(--dropdown-icon-spanThickness) / 2);
    position: absolute;
    background-color: white;
    transition: all var(--nav-transition-duration);
}
.headerBar-dropdown-icon .dropdown-plus-vertical {
    transition: width var(--nav-transition-duration);
    transform: rotate(90deg);
}
.mainNavDropdownActive .dropdown-plus-vertical{
    width: 0;
}
.dropdown-plus-horizontal{
}


.headerBar-dropdown-icon .dropdown-chevron-left{
    top: calc(var(--dropdown-icon-spanWidth) * 1.5);
    right: calc(var(--dropdown-icon-spanWidth) / 2.2);
    transform-origin: right center;
    transform: rotate(45deg);
    border-radius: calc(var(--dropdown-icon-spanWidth) / 2) 0 0 calc(var(--dropdown-icon-spanWidth) / 2);
}
.mainNavDropdownActive .dropdown-chevron-left{
    top: calc(calc( var(--dropdown-icon-spanWidth) * -.5) - var(--dropdown-icon-spanThickness));
    transform: rotate(-45deg);
}

.headerBar-dropdown-icon .dropdown-chevron-right{
    top: calc(var(--dropdown-icon-spanWidth) * 1.5);
    left: calc(var(--dropdown-icon-spanWidth) / 2.2);
    transform-origin: left center;
    transform: rotate(-45deg);
    border-radius: 0 calc(var(--dropdown-icon-spanWidth) / 2) calc(var(--dropdown-icon-spanWidth) / 2) 0;
}
.mainNavDropdownActive .dropdown-chevron-right {
    top: calc(calc(var(--dropdown-icon-spanWidth) * -.5) - var(--dropdown-icon-spanThickness));
    transform: rotate(45deg);
}

/* Dropdown */
.headerBar-subDropdown-wrapper{
    position: relative;
}
.headerBar-subDropdown-wrapper ul{
    position: absolute;
    top: 100%;
    right: 0;
    left:0;
    padding: var(--layout-main-spacing);
    z-index: 19;
}
.headerBar-subDropdown-wrapper li{
    list-style: none;
    margin-bottom: var(--layout-main-spacing);
}
.headerBar-subDropdown-wrapper li:last-child{
    margin-bottom: 0;
}

/* Dropdown Transistion */
.headerBar-subDropdown-wrapper{
    overflow: hidden;
}
.headerBar-subDropdown-wrapper ul{
    transition: top var(--nav-transition-duration), background-color var(--nav-transition-duration);
    background-color: transparent;
    top: 105%;
}

.headerBar-subDropdown-wrapper:hover {
    overflow: visible;
}
.headerBar-subDropdown-wrapper:hover ul {
    background-color: var(--nav-dropdown-colorBg);
    border-top: 4px solid var(--nav-dropdown-colorBorder);
    top: 100%;
}
.headerBar-subDropdown-wrapper ul a{
    color: transparent;
}
.headerBar-subDropdown-wrapper:hover ul a{
    display: block;
    transition: all var(--nav-transition-duration);
    visibility: visible;
    color: var(--headerBar-color-link);
}





@media(min-width: 780px) {
    .upper-headerBar {
        height: var(--upper-headerBar-height);
    }
}

@media(min-width: 1200px) {
    :root {
        --headerBar-height: 8rem;
        --upper-headerBar-color: #eee;
        --upper-headerBar-height: calc(var(--headerBar-height) / 3);
        --lower-headerBar-height: calc(var(--headerBar-height) / 1.5);
        --lower-headerBar-color: #dadada;

    }

    /* -- Nav -- */
}
