@import "./base-vars.css";
@import "./brand-styles.css";

/* -- Special -- */
:root {
    --content-font-size: 1.2rem;

}

/* -- General -- */
.slidingBoxes-wrapper{
    display: flex;
    padding-right: var(--layout-main-spacing);
    margin-bottom: var(--layout-main-spacing);
}
.slidingBox{
    transition: width .5s;
    width: 25%;
    /* max-height: calc(var(--content-font-size) * 8); */
    max-height: 20vw;
    display: flex;
    overflow: hidden;
    /* padding-left: var(--layout-main-spacing); */
    margin-left: var(--layout-main-spacing);
}

/* -- Image -- */
.slidingBox-image{
    width:100%;
}
.slidingBox-image img {
    height:100%;
    width: 100%;
    object-fit: cover;
}

/* -- Content -- */
.slidingBox-content-wrapper {
    width: 0%;
}
.slidingBox-content-wrapper > h4,
.slidingBox-content-wrapper > p{
    font-size: var(--content-font-size);
}
.slidingBox-content-wrapper>h4{
    font-weight: bold;
    margin-bottom: calc( var(--layout-main-spacing) / 2);
}
.slidingBox-content-wrapper > p{
    height: 0;
}

/* -- Active -- */
.slidingBox.activeBox{
    width: 50%;
}
.activeBox .slidingBox-image,
.activeBox .slidingBox-content-wrapper{
    width:50%;
}
.activeBox .slidingBox-content-wrapper{
    padding: var(--layout-main-spacing) 0 0 var(--layout-main-spacing);
}
.activeBox .slidingBox-content-wrapper > p {
    height: auto;
}



@media(min-width: 780px){

}

@media(min-width: 1200px){

}